<ul class="no-bullet inline-list columns" ng-controller="NavCtrl">
    <li><a class="button large" ng-href="/#/{{resume.localUrl}}">{{resume.title}}</a></li>
    <li ng-repeat="item in nav"><a class="button large" ng-href="/#/projects/{{item.localUrl}}">{{item.title}}</a></li>
</ul>