<div class="column panel">
    <h1>{{project.title}}</h1>
    {{projectData.image1}}

    <img ng-src="{{projectData.image1}}" alt="{{projectData.title}}" />

    <!-- <a class="btn" href="{{projectData.image1}}">{{projectData.title}}</a> -->

    <p>{{project.desc}}</p>
    <p>{{projectData.desc}}</p>

    <strong>Date: {{projectData.date}}</strong>
</div>
