<h1>Projects !</h1>

<h3><code>$location.url() = {{location.url()}}</code></h3>

<ul>
    <li ng-repeat="project in projects">
        <h2>{{project.title}}</h2>
        <p>{{project.desc}}</p>
        <a href="/#{{location.url()}}/{{project.localUrl}}" title="">{{project.localUrl}}</a>
    </li>
</ul>