<div class="column pull-down-3">

    <h2>Resume</h2>

    <h3>Download as:</h3>
    <ul class="no-bullet inline-list">
        <li>
            <a href="/api/resume.json" target="_blank" class="button large" title="`.json` resume"><code>.json</code></a>
        </li>

        <li>
            <a href="http://travismullen.com/travismullen_resume.doc" target="_blank" class="button large" title="`.doc` resume"><code>.doc</code></a>
        </li>

        <li>
            <a href="http://travismullen.com/travismullen_resume.pdf" target="_blank" class="button large" title="`.pdf` resume"><code>.pdf</code></a>
        </li>
    </ul>
    <ul class="no-bullet">
        <li class="pull-down-2 top-padding-2 panel" ng-repeat="item in resume.business">
            <em>
                {{item.position}}, {{item.timeFrame}}
            </em>
            <br />
            <strong>
                {{item.company}}
            </strong>
            (<a href="{{item.url}}" target="_blank" title="{{item.company}}">{{item.shortUrl}}</a>)
            <strong class="loc">
                {{item.location}}
            </strong>
            <br />
            {{item.desc}}
            <br />
            {{item.technologies}}
        </li>
    </ul>
</div>