<input ng-model="search"  />
<ul class="column">
    <li class-"panel" ng-repeat="item in items | filter:search">
        <h2>{{item.title}}</h2>
        <p>{{item.desc}}</p>
        <a href="/#{{location.url()}}/{{item.localUrl}}" title="">{{item.localUrl}}</a>
    </li>
</ul>
